.clickable {
  cursor: pointer;
}

.table-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 1em;
  font-style: italic !important;
}

.invisible {
  visibility: hidden;
}

.bg-maroon {
  background-color: rgba(0, 109, 128, 0.411);
}

.display-block {
  display: block;
}

.events-open-modal {
  background-color: rgba(0, 0, 0, 0.582);
}
.error {
  color: red!important;
  padding: 2px;
}

.leave-actions {
display: flex !important;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;
align-items: center;
gap: 10px;
padding-bottom: 10px;
padding-left: 30px;
margin-top:15px;
margin-bottom: 30px;
border-bottom: rgba(209, 204, 204, 0.096) 1px solid;
}

.bg-approved {
  color: rgb(60, 219, 60);
}

.bg-pending {
  color: rgb(0, 174, 255);
}

.bg-cancelled {
  color: rgba(226, 82, 82, 0.959);
}
.bg-history {
  color: #999495;
}

.bg-application {
  color: #3B5998;
}