.clickable {
  cursor: pointer;
}

.table-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 1em;
  font-style: italic !important;
}

.invisible {
  visibility: hidden;
}

.display-block {
  display: block;
}

.events-open-modal {
  background-color: rgba(0, 0, 0, 0.582);
}