.auth-heading-1 {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.footer-auth {
    border-top: 1px solid rgba(226, 223, 223, 0.322);
}

.logo-icon-1 {
    width: 180px !important;
    height: 62px !important;
}